h1 {
    color: #34495e;
    font-weight: 800;
    margin-left: 5%;
    font-size: 8vw;
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden; /* prevent scrolling */
    font-family: Arial, sans-serif;
    font-weight: 800;
}

.background-image {
    position: fixed; /* position it fixed to cover the entire screen */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../images/group3/group3_image2.png');
    background-size: cover; 
    background-position: center;
    z-index: -1; /* behind the canvas */
}

button {
    padding: 10px 20px;
    border: none;
}

.play-button {
    width: 20vw;  
    height: 20vw; 
    cursor: pointer;
    margin-left: 70%; 
    margin-top: 0;
}

#languageToggleButton {
    display: flex;
    cursor: pointer;
    border: none; 
    background: none;
    position: fixed;
    top: 5%; 
    right: 10%; 
    background: none;
}

.language-image{
    width: 6vh;
}

.control-buttons {
    display: flex;
    align-items: center;  /* align images vertically */
    margin-top: 0px;
}

/* container styles */
#controls {
    display: flex;
    flex-direction: column;
    align-items: left;
    padding: 20px;
    background-color: #cbdce1;
    border-radius: 20px;
    height: 40vh;
    width: 85vw;
    margin-top: 10vh; 
    margin-left: 5%;
    box-shadow: 0px 0px 8px #596a7b;
}

.back-button {
    width: 8vh; 
    height: auto; 
    cursor: pointer;
    margin-top: 20px; 
    margin-left: 5%;   
    position: relative; 
    left: 2vw;  
    top: 5vh;
}

button:hover {
    background-color: #f6f4bd;
}

label {
    font-size: 20vw;
    margin-top: 0px;
    color: #34495e;
}

#canvasContainer {
    background-color: transparent;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.text-container {
    display: flex;
    flex-direction: row;
    margin-top: 10px; 
    margin-left: 5%;
    
}

.text-display {
    color: #34495e; 
    font-size: 3vh; 
    margin: 0 10px; 
}


.body-foot {
    width: 100%;
    background-color: transparent;
    padding: 20px;
    position: fixed; 
    bottom: 0; 
    text-align: center;
}

.foot-bottom {
    margin-top: 10px;
    width: 100%;
    text-align: center;
    font-size: 1.5em;
    font-weight: 1200;
    color: #ddebee;
    font-family: Arial, sans-serif; 
}
