/* general body styles */
body {
    background-color: #ddebee;
    font-family: Arial, sans-serif;
    font-weight: 800;
}

h1 {
    color: #34495e;
    font-weight: 800;
    margin-left: 5%;
    font-size: 64px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
}

.play-button {
    width: 20vw;  
    height: 20vw; 
    cursor: pointer;
    margin-left: 20%; 
}

.play-image {
    width: 35vw;  
    height: 35vw; 
    object-fit: cover;
    margin-left: 5%;
    border-radius: 20px;
}

.control-buttons {
    display: flex;
    align-items: center;  /* align images vertically */
}

/* container styles */
#controls {
    display: flex;
    flex-direction: column;
    align-items: left;
    padding: 20px;
    background-color: #cbdce1;
    border-radius: 20px;
    height: 50vh;
    width: 85vw;
    margin-top: 10vh; 
    margin-left: 5%;
    box-shadow: 0px 0px 8px #596a7b;
}

.back-button,
.play-button {
    width: 7vh; 
    height: auto; 
    cursor: pointer;
    margin-top: 20px; 
    margin-left: 5%;   
    position: relative; 
    left: 2vw;  
    top: 5vh;
}

button:hover {
    background-color: #f6f4bd;
}

label {
    font-size: 32px;
    margin-top: 0px;
    color: #34495e;
}

#languageToggleButton {
    display: flex;
    cursor: pointer;
    border: none; 
    background: none;
    position: fixed;
    top: 5%; 
    right: 10%; 
    background: none;
}

.language-image{
    width: 6vh;
}

#canvasContainer {
    position: relative;
    width: 800px;
    height: 800px;
    top: 20%;
    left: 50%;
    transform: translate(-50%, 20%);
}

#backgroundImage {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
}

canvas {
    position: relative;
    top: 0;
    left: 0;
    z-index: 1;
}

.volume-controls {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    top: 0%;
    left: 50%;
    font-family: Arial, sans-serif;
    font-size: 16px;
    color: #596a7b;
}

.volume-controls label {
    margin: 5px 0;
}

.volume-controls input[type="range"] {
    -webkit-appearance: none;
    appearance: none;
    width: 200px;
    height: 18px;
    background: #ffffff;
    border-radius: 5px;
    outline: none;
    margin-right: 10px;
}

.volume-controls input[type="range"]:hover {
    opacity: 1;
}

.volume-controls input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    background: #92b7c1;
    border-radius: 50%;
    cursor: pointer;
}

.volume-controls input[type="range"]::-moz-range-thumb {
    width: 20px;
    height: 20px;
    background: #92b7c1;
    border-radius: 50%;
    cursor: pointer;
}

#backgroundVolumeDisplay, #tracksVolumeDisplay {
    font-size: 24px;
    color: #34495e;
    margin-left: 5px;
}

.body-foot {
    width: 100%;
    background-color: #ddebee;
    padding: 20px;
    position: fixed; 
    bottom: 0; 
    text-align: center;
}

.foot-bottom {
    margin-top: 10px;
    width: 100%;
    text-align: center;
    font-size: 1.5em;
    font-weight: 1200;
    color: #34495e;
    font-family: Arial, sans-serif; 
}
